<div class="container d-flex justify-content-center flex-column align-items-center">
<h1 class="text-primary fw-bold">SOBRE</h1>
<hr>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro aperiam placeat dolorum debitis quis, earum quam pariatur recusandae sint doloremque. Temporibus ipsa facilis consectetur quis! Beatae accusamus non exercitationem illum.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui veritatis unde vel quia culpa. Ratione, numquam at. Corporis eaque porro totam quae blanditiis fugit atque accusamus repellat. Nemo, provident voluptas.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui animi alias consequuntur, quo, veritatis porro quas perferendis, enim distinctio omnis optio laudantium aliquid iure? Assumenda reiciendis molestias excepturi fugit explicabo!</p>
</div>